<ion-header>
  <ion-toolbar>
    <ion-title>  {{ 'EXPLANATIONS.name' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="return-left"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content center>
  <div>
  <ion-text> {{ 'EXPLANATIONS.text1' | translate }}</ion-text>
  </div>
  <div>
  <ion-text> {{ 'EXPLANATIONS.text2' | translate }}</ion-text>
  </div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          {{ 'EXPLANATIONS.criteria' | translate }}
        </ion-col>
        <ion-col size="5">
          {{ 'EXPLANATIONS.subcriteria' | translate }}
        </ion-col>
        <ion-col>
          {{ 'EXPLANATIONS.weight' | translate }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  size="4">
          {{ 'EXPLANATIONS.percepction.name' | translate }}
        </ion-col>
        <ion-col size="5">
          <div class="col">
            {{ 'EXPLANATIONS.percepction.subcriteria1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.percepction.subcriteria2' | translate }}
          </div>
        </ion-col>
        <ion-col>
          <div class="col">
            {{ 'EXPLANATIONS.percepction.weight1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.percepction.weight2' | translate }}
          </div>
        </ion-col>
        <ion-col>
          {{ 'EXPLANATIONS.percepction.weight' | translate }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  size="4">
          {{ 'EXPLANATIONS.ergonomics.name' | translate }}
        </ion-col>
        <ion-col size="5">
          <div class="col">
            {{ 'EXPLANATIONS.ergonomics.subcriteria1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.ergonomics.subcriteria2' | translate }}
          </div>
        </ion-col>
        <ion-col>
          <div class="col">
            {{ 'EXPLANATIONS.ergonomics.weight1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.ergonomics.weight2' | translate }}
          </div>
        </ion-col>
        <ion-col>
          {{ 'EXPLANATIONS.ergonomics.weight' | translate }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  size="4">
          {{ 'EXPLANATIONS.presence.name' | translate }}
        </ion-col>
        <ion-col size="5">
          <div class="col">
            {{ 'EXPLANATIONS.presence.subcriteria1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.presence.subcriteria2' | translate }}
          </div>
        </ion-col>
        <ion-col>
          <div class="col">
            {{ 'EXPLANATIONS.presence.weight1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.presence.weight2' | translate }}
          </div>
        </ion-col>
        <ion-col>
          {{ 'EXPLANATIONS.presence.weight' | translate }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  size="4">
          {{ 'EXPLANATIONS.availability.name' | translate }}
        </ion-col>
        <ion-col size="5">
          <div class="col">
            {{ 'EXPLANATIONS.availability.subcriteria1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.availability.subcriteria2' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.availability.subcriteria3' | translate }}
          </div>
        </ion-col>
        <ion-col>
          <div class="col">
            {{ 'EXPLANATIONS.availability.weight1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.availability.weight2' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.availability.weight3' | translate }}
          </div>
        </ion-col>
        <ion-col>
          {{ 'EXPLANATIONS.availability.weight' | translate }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  size="4">
          {{ 'EXPLANATIONS.easy.name' | translate }}
        </ion-col>
        <ion-col size="5">
          <div class="col">
            {{ 'EXPLANATIONS.easy.subcriteria1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.subcriteria2' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.subcriteria3' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.subcriteria4' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.subcriteria5' | translate }}
          </div>
        </ion-col>
        <ion-col>
          <div class="col">
            {{ 'EXPLANATIONS.easy.weight1' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.weight2' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.weight3' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.weight4' | translate }}
          </div>
          <div class="col">
            {{ 'EXPLANATIONS.easy.weight5' | translate }}
          </div>
        </ion-col>
        <ion-col>
          {{ 'EXPLANATIONS.easy.weight' | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-text> {{ 'EXPLANATIONS.text3' | translate }}</ion-text>
    </div>
    <div>
      <ion-text> {{ 'EXPLANATIONS.text4' | translate }}</ion-text>
    </div>
</ion-content>
