<ion-menu side="start">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>{{ 'MAIN.menu' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <div *ngFor="let m of menuitems">
        <ion-item lines="none" class="ion-activatable" (click)="m.click()">
            <ion-ripple-effect></ion-ripple-effect>
          <ion-label> {{ 'MAIN.'+m.name | translate }}  </ion-label>
          <ion-icon color="primary" name={{m.icon}} slot="start"></ion-icon>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'MAIN.name' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center id="body">
  <ion-list>
    <ion-item lines="none" class="ion-activatable" (click)="navigate('/eval-app')">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        {{ 'MAIN.eval' | translate }}
      </ion-label>
      <ion-icon slot="end" color="primary" name="arrow-round-forward"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="ion-activatable" (click)="navigate('/apps')">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        {{ 'MAIN.my_apps' | translate }}
      </ion-label>
      <ion-icon slot="end" color="primary" name="arrow-round-forward"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="ion-activatable" (click)="navigate('/my-evaluations')">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        {{ 'MAIN.my_eval' | translate }}
      </ion-label>
      <ion-icon slot="end" color="primary" name="arrow-round-forward"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="ion-activatable" (click)="navigate('/public-apps')">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        {{ 'MAIN.all_apps' | translate }}
      </ion-label>
      <ion-icon slot="end" color="primary" name="arrow-round-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
