<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="criteria">  {{ 'EVAL_SELECTION.'+ criteria | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="return-left"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>
  <ion-list *ngIf="results.length">
    <ion-item id="total"  class="ion-no-padding" lines="none">
        <ion-col class="text" size="9">
            <ion-text> {{ 'STATISTICS.total' | translate }}</ion-text>
        </ion-col>
        <ion-col size="2">
            <ion-text>{{total | number:'1.0-0'}}</ion-text>
        </ion-col>
        <ion-col>
            <ion-icon *ngIf="total>60" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="total>=40 && total <=60"  color="warning" name="remove"></ion-icon>
            <ion-icon *ngIf="total < 40" color="danger" name="close"></ion-icon>
        </ion-col>
    </ion-item>

    <ion-item *ngFor=" let e of results"  class="ion-no-padding" >

      <ion-col class="text" size="9">
        <ion-text>{{e.text}}</ion-text>
      </ion-col>

      <ion-col size="2">
        <ion-text>{{e.value | number:'1.0-0'}}</ion-text>
      </ion-col>

      <ion-col>
        <ion-icon *ngIf="e.valid == 2" color="success" name="checkmark"></ion-icon>
        <ion-icon *ngIf="e.valid == 1"  color="warning" name="remove"></ion-icon>
        <ion-icon *ngIf="e.valid == 0" color="danger" name="close"></ion-icon>
      </ion-col>

    </ion-item>

  </ion-list>

</ion-content>
