ion-list ion-text{
  padding-left: 9vw;
  padding-top: 2vh;
}

ion-title{
  text-transform: uppercase;
}

ion-col ion-text{
  padding: 0;
}


ion-col{
  padding: 1em 0.5em;
}


#total{
    border-bottom: ridge var(--ion-color-primary);
}
