canvas{
    display: block;
    margin: 0 auto;
}

ion-menu ion-list{
  padding-left: 15px;
}

#app-share{
  margin-top: 22px;
}

#app-id{
    border-bottom: ridge var(--ion-color-primary);
    padding-bottom: 2px;
}

#app-id ion-label{
  color: var(--ion-color-primary);
}

#comment-text{
  overflow: scroll;
  margin: auto;
  border-bottom: ridge var(--ion-color-primary);
  background-image: linear-gradient(var(--ion-background-color), rgba(56,128,255,0.1));
  transition: max-height 0.5s ease-in-out;
  max-height: 300px;
  padding: 0 1vh;
}

#comment-text[hide="true"] {
    max-height: 0;
}

#info-text{
  overflow: scroll;
  margin: auto;
  border-bottom: ridge var(--ion-color-primary);
  background-image: linear-gradient(var(--ion-background-color), rgba(56,128,255,0.1));
  transition: max-height 0.5s ease-in-out;
  max-height: 300px;
  padding: 0 1vh;
}

#info-text[hide="true"] {
    max-height: 0;
}
