
<ion-menu side="end">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>{{ 'APP_CONFIG.config' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-list>
    <div *ngIf="app">
      <ion-item lines="none" class="ion-activatable ion-no-padding" (click)="nameChange()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> {{ 'APP_CONFIG.change_name' | translate }} </ion-label>
        <ion-icon color="primary" name="create" slot="start"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-activatable ion-no-padding" (click)="criteriaChange()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> {{ 'APP_CONFIG.change_criteria' | translate }} </ion-label>
        <ion-icon color="primary" name="clipboard" slot="start"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-activatable ion-no-padding" (click)="deleteApp()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> {{ 'APP_CONFIG.delete' | translate }} </ion-label>
        <ion-icon color="danger" name="trash" slot="start"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="apps"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="app">{{app.name}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="clear" (click)="openMenu()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  center text-center>
  <ion-item *ngIf="app" lines="none" id="app-id" class="ion-activatable" (click)="copy()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label position="floating"> {{ 'APP_CONFIG.app_id' | translate }} </ion-label>
      <ion-input readonly value={{app.id}}></ion-input>
      <ion-icon  id="app-share" color="primary" name="share" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="none"  class="ion-no-padding">
    <canvas #doughnutCanvas></canvas>
  </ion-item>

  <ion-item lines="none" class="ion-activatable" (click)="show('info')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label id="name"> {{ 'APP_CONFIG.details' | translate }} </ion-label>
    <ion-icon id="info-arrow" slot="end" color="primary" name="arrow-dropup"></ion-icon>
  </ion-item>
  <ion-list id="info-text">
    <ion-item  class="ion-no-padding" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            {{ 'APP_CONFIG.criteria' | translate }}
          </ion-col>
          <ion-col>
            {{ 'APP_CONFIG.value' | translate }}
          </ion-col>
          <ion-col>
            {{ 'APP_CONFIG.pass' | translate }}
          </ion-col>
          <ion-col>
            {{ 'APP_CONFIG.num' | translate }}
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>

        <ion-row (click)="openExplanations()">
          <ion-col size="6">
            {{ 'STATISTICS.total' | translate }}
          </ion-col>
          <ion-col>
            {{total | number:'1.0-0'}}
          </ion-col>
          <ion-col>
            <ion-icon *ngIf="total>60" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="total>=40 && total <=60"  color="warning" name="remove"></ion-icon>
            <ion-icon *ngIf="total < 40" color="danger" name="close"></ion-icon>
          </ion-col>
          <ion-col>
            {{totalNum}}
          </ion-col>
          <ion-col>
            <ion-icon color="primary" name="information-circle-outline"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let a of activeCriteriaDetails" (click)="openStatistics(a.name)">
          <ion-col size="6">
            {{ 'APP_CONFIG.'+a.name | translate }}
          </ion-col>
          <ion-col>
            {{a.value | number:'1.0-0'}}
          </ion-col>
          <ion-col *ngIf="a.valid == 2">
            <ion-icon color="success" name="checkmark"></ion-icon>
          </ion-col>
          <ion-col *ngIf="a.valid  == 1">
            <ion-icon color="warning" name="remove"></ion-icon>
          </ion-col>
          <ion-col *ngIf="a.valid  == 0">
            <ion-icon color="danger" name="close"></ion-icon>
          </ion-col>
          <ion-col>
            {{a.num}}
          </ion-col>
          <ion-col>
              <ion-icon color="primary" name="list"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


  <ion-item lines="none" class="ion-activatable" (click)="show('comment')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label id="name"> {{ 'APP_CONFIG.comments' | translate }} </ion-label>
    <ion-icon id="comment-arrow" slot="end" color="primary" name="arrow-dropup"></ion-icon>
  </ion-item>
  <ion-list id="comment-text">
    <ion-item *ngFor="let e of comments"  class="ion-no-padding">
      <ion-label color="primary" position="floating">{{e.name}}</ion-label>
      <ion-label color="primary" position="floating"> {{ e.date | date :  "dd/MM/y" }}</ion-label>
      <ion-textarea autoGrow readonly value={{e.comment}}></ion-textarea>

      <br>
    </ion-item>
  </ion-list>
</ion-content>
