
<ion-menu side="end">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Config</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-list>
    <div *ngIf="app">
      <ion-item lines="none" class="ion-activatable ion-no-padding" (click)="nameChange()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> Change Name </ion-label>
        <ion-icon color="primary" name="create" slot="start"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-activatable ion-no-padding" (click)="criteriaChange()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> Change Criteria </ion-label>
        <ion-icon color="primary" name="clipboard" slot="start"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-activatable ion-no-padding" (click)="deleteApp()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label> Delete </ion-label>
        <ion-icon color="danger" name="trash" slot="start"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="apps"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="app">{{app.name}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="clear" (click)="openMenu()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  center text-center>
  <ion-item *ngIf="app" lines="none" id="app-id" class="ion-activatable" (click)="copy()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label position="floating"> App id </ion-label>
      <ion-input readonly value={{app.id}}></ion-input>
      <ion-icon  id="app-share" color="primary" name="share" slot="end"></ion-icon>
  </ion-item>
  <ion-item lines="none"  class="ion-no-padding">
    <canvas #doughnutCanvas></canvas>
  </ion-item>

  <ion-item lines="none" class="ion-activatable" (click)="show('info')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label id="name"> Details </ion-label>
    <ion-icon id="info-arrow" slot="end" color="primary" name="arrow-dropup"></ion-icon>
  </ion-item>
  <ion-list  id="info-text">
    <ion-item lines="none">

    </ion-item>
  </ion-list>


  <ion-item lines="none" class="ion-activatable" (click)="show('comment')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label id="name"> Comments </ion-label>
    <ion-icon id="comment-arrow" slot="end" color="primary" name="arrow-dropup"></ion-icon>
  </ion-item>
  <ion-list *ngFor="let e of comments" id="comment-text">
    <ion-item lines="none">
      <ion-label position="floating"> {{e.name}} </ion-label>
      <ion-input readonly value={{e.comment}}></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
