canvas{
    display: block;
    margin: 0 auto;
}

ion-menu ion-button{
  width: 100%;
}

#button-right{
  float: right;
  padding-top: 3%;
}

#criteriaitem{
  border-top: 2px solid var(--ion-color-primary);
}

#selectionList{
  padding: 0 !important;
  border-bottom: 2px solid var(--ion-color-primary);
  overflow: scroll;
  margin: auto;
  transition: max-height 0.5s ease-in-out;
  max-height: 500px;
  padding: 0 1vh;
}

#selectionList[hide="true"]{
  max-height: 0;
}

#criteria{
  margin-left: 7%;
  font-style: italic;
  font-size: 1em;
  font-weight: bold;
  color: var(--ion-color-primary);
}

#space{
  margin-top: 8px;
}
