<ion-header>

</ion-header>

<ion-content padding center text-center id="body">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="evaluate">
        <ion-icon name="construct"></ion-icon>
        <ion-label>{{'HOME.EVALUATE.name' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="login">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{'HOME.LOGIN.name' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="register">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>{{'HOME.REGISTER.name' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
