<ion-header>
  <ion-toolbar>
    <ion-title>LogIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" id="log-in">
    <ion-title></ion-title>
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input clearOnEdit="false" placeholder="example@domain.com" pattern="email"  id="log_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Password </ion-label>
        <ion-input clearOnEdit="false" placeholder="password" type="password" id="log_password"></ion-input>
        <ion-icon name="eye-off" slot="end" id="log_password_eye" (click)="showHide('log_password')"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="login()"> Log in </ion-button>
  </div>
</ion-content>
