
<ion-content>
  <div class="content" id="log-in">
    <ion-title></ion-title>
    <ion-list>
      <ion-item>
        <ion-label position="floating"> {{'HOME.LOGIN.label_email' | translate}} </ion-label>
        <ion-input clearOnEdit="false" placeholder="{{'HOME.LOGIN.placeholder_email' | translate}}" pattern="email"  id="log_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> {{'HOME.LOGIN.label_pass' | translate}} </ion-label>
        <ion-input clearOnEdit="false" placeholder="{{'HOME.LOGIN.placeholder_pass' | translate}}" type="password" id="log_password"></ion-input>
        <ion-icon color="primary" name="eye-off" slot="end" id="log_password_eye" (click)="showHide('log_password')"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="login()"> {{'HOME.LOGIN.button' | translate}} </ion-button>
    <ion-item text-center lines="none" (click)="fpass();" tappable><ion-label id="fpass" color="primary"> {{'HOME.LOGIN.forgot_pass' | translate}} </ion-label></ion-item>
  </div>
</ion-content>
