ion-content *{
  padding: 3% 10%;
  box-sizing: content-box;
}
img{
  padding-top: 20% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:35vw;
  height:35vw;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
