ion-content *{
  padding: 3% 10%;
  box-sizing: content-box;
}
ion-content ion-button{
  padding-bottom: 0;
}

img{
  width: 100px;
  height: 100px;
  margin-top: 10vh !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 100px;
  border-radius: 50%;
}
