
<ion-content>
  <div class="content" id="register">
    <ion-title></ion-title>
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input clearOnEdit="false" placeholder="example@domain.com" pattern="email" id="register_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Password </ion-label>
        <ion-input clearOnEdit="false" placeholder="password" type="password" id="register_password"></ion-input>
        <ion-icon name="eye-off" slot="end" id="register_password_eye" (click)="showHide('register_password')"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating" > Repeat password </ion-label>
        <ion-input clearOnEdit="false" placeholder="password" type="password" id="register_rep_password"></ion-input>
        <ion-icon name="eye-off" slot="end" id="register_rep_password_eye" (click)="showHide('register_rep_password')"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="register()"> Register </ion-button>
  </div>
</ion-content>
