<ion-header>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="showTab('evaluate')" tab="evaluate" class="tab" id="tab-button-evaluate">
        <ion-icon name="construct"></ion-icon>
        <ion-label>Evaluate</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="showTab('log-in')" tab="log-in" class="tab" id="tab-button-log-in">
        <ion-icon name="person"></ion-icon>
        <ion-label>Log in</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="showTab('register')" tab="register" class="tab" id="tab-button-register">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Register</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-header>


<ion-content padding center text-center id="body">
  <div class="content" id="evaluate">
    <ion-list>
      <ion-item id="code-bar">
        <ion-input placeholder="Enter your app code here..." type="text"> </ion-input>
        <ion-button item-right> Evaluate </ion-button> <p> or <a href="main"> test the app </a> </p>
      </ion-item>
    </ion-list>
  </div>

  <div class="content" id="log-in">
    <ion-title></ion-title>
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input placeholder="example@domain.com" pattern="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Password </ion-label>
        <ion-input placeholder="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block"> Log in </ion-button>
  </div>

  <div class="content" id="register">
    <ion-title></ion-title>
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input placeholder="example@domain.com" pattern="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Password </ion-label>
        <ion-input placeholder="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Repeat password </ion-label>
        <ion-input placeholder="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block"> Register </ion-button>
  </div>
</ion-content>
