.content{
  position: relative;
  height: 0%;
  transition: all 0.5s ease-out;
}

.content[gofrom="right"][goto="left"]{
  transition: all 0s;
}
.content[goto="left"]{
  -webkit-transform: translate3d(-150%,0,0)
}

.content[gofrom="left"][goto="right"]{
  transition: all 0s;
}
.content[goto="right"]{
  -webkit-transform: translate3d(150%,0,0)
}
