<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.name' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
          <ion-label>{{ 'SETTINGS.dark' | translate }}</ion-label>
          <ion-toggle slot="start" color="primary" checked={{darkmode}}  (ionChange)="setDarkMode($event)"></ion-toggle>
  </ion-item>
  <ion-item lines="none">
          <ion-label>{{ 'SETTINGS.lang' | translate }}</ion-label>
          <ion-select *ngIf="currentlang == 'en'" ok-text="Ok" cancel-text="Cancel" (ionChange)="setLanguage($event)">
            <ion-select-option value="en" selected>{{ 'SETTINGS.lang_en' | translate}}</ion-select-option>
            <ion-select-option value="es" >{{ 'SETTINGS.lang_es' | translate}}</ion-select-option>
          </ion-select>
          <ion-select *ngIf="currentlang == 'es'" ok-text="Aceptar" cancel-text="Cancelar" (ionChange)="setLanguage($event)">
            <ion-select-option value="en" >{{ 'SETTINGS.lang_en' | translate}}</ion-select-option>
            <ion-select-option value="es" selected>{{ 'SETTINGS.lang_es' | translate}}</ion-select-option>
          </ion-select>
  </ion-item>
</ion-content>
